**1-Project Goal:**


To build a decision‑support model that uses applicant data (income, credit history, employment, etc.) to reliably and fairly classify loan applications as Approved or Rejected, selecting the right person for the loan and minimizing risk.

**2-Dataset Source:**


The Source is Kaggle
URL:https://www.kaggle.com/datasets/taweilo/loan-approval-classification-data?resource=download

**3-Dataset Description:**


1- Number of attributes (columns): 14


  Data Types:

• person_age → Numeric (34, 47)

 • person_gender → Binary (Male, Female)

 • person_education → Ordinal (High School, Bachelor, Master)

 • person_income → Numeric (32000, 55000)

 • person_emp_exp → Numeric (2, 5, 10)

 • person_home_ownership → Nominal (Own, Rent, Mortgage)

 • loan_intent → Nominal (Education, Medical, Personal)

 • loan_grade → Ordinal (A, B, C, D)

 • loan_amnt → Numeric (5000, 20000)

 • loan_int_rate → Numeric (7.5, 13.2)

 • loan_percent_income → Numeric (0.2, 0.5)

 • cb_person_default_on_file → Binary (Yes, No)

 • cb_person_cred_hist_length → Numeric (3, 10, 15)

 • loan_status → Binary (Approved, Rejected)



2- Number of instances (rows): 45000


3- Class attribute distribution (loan_status):

 Approved =1, Rejected=0


0    35000

1    10000


4- To Show The DataSet Sample Run The Code

In [ ]:
import pandas as pd


df = pd.read_csv("loan_data.csv")


print("Number of attributes (columns):", len(df.columns))
print("\nData types of each attribute:")
print(df.dtypes)


print("\nNumber of instances (rows):", len(df))


print("\nClass attribute distribution (loan_status):")
print(df['loan_status'].value_counts())

# Print a sample of the raw dataset
print("\nSample of the dataset:")
print(df.head(10))

Number of attributes (columns): 14

Data types of each attribute:
person_age                        float64
person_gender                      object
person_education                   object
person_income                     float64
person_emp_exp                      int64
person_home_ownership              object
loan_amnt                         float64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                        int64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object

Number of instances (rows): 45000

Class attribute distribution (loan_status):
loan_status
0    35000
1    10000
Name: count, dtype: int64

Sample of the dataset:
   person_age person_gender person_education  person_income  person_emp_exp  \
0        22.0        female           Master        71948.0               0
1        21.0        female      High School        12282.0               0
2        25.0        female      High School        12438.0               3
3        23.0        female         Bachelor        79753.0               0
4        24.0          male           Master        66135.0               1
5        21.0        female      High School        12951.0               0
6        26.0        female         Bachelor        93471.0               1
7        24.0        female      High School        95550.0               5
8        24.0        female        Associate       100684.0               3
9        21.0        female      High School        12739.0               0

  person_home_ownership  loan_amnt loan_intent  loan_int_rate  \
0                  RENT    35000.0    PERSONAL          16.02
1                   OWN     1000.0   EDUCATION          11.14
2              MORTGAGE     5500.0     MEDICAL          12.87
3                  RENT    35000.0     MEDICAL          15.23
4                  RENT    35000.0     MEDICAL          14.27
5                   OWN     2500.0     VENTURE           7.14
6                  RENT    35000.0   EDUCATION          12.42
7                  RENT    35000.0     MEDICAL          11.11
8                  RENT    35000.0    PERSONAL           8.90
9                   OWN     1600.0     VENTURE          14.74

   loan_percent_income  cb_person_cred_hist_length  credit_score  \
0                 0.49                         3.0           561
1                 0.08                         2.0           504
2                 0.44                         3.0           635
3                 0.44                         2.0           675
4                 0.53                         4.0           586
5                 0.19                         2.0           532
6                 0.37                         3.0           701
7                 0.37                         4.0           585
8                 0.35                         2.0           544
9                 0.13                         3.0           640

  previous_loan_defaults_on_file  loan_status
0                             No            1
1                            Yes            0
2                             No            1
3                             No            1
4                             No            1
5                             No            1
6                             No            1
7                             No            1
8                             No            1
9                             No            1