Project Goal:
To build a decisionâ€‘support model that uses applicant data (income, credit history, employment, etc.) to reliably and fairly classify loan applications as Approved or Rejected, selecting the right person for the loan and minimizing risk.

Dataset Source:
The Source is Kaggle
URL:https://www.kaggle.com/datasets/taweilo/loan-approval-classification-data?resource=download

Dataset Description:

Number of attributes (columns): 14

Number of instances (rows): 45000

Class attribute distribution (loan_status):
loan_status

0    35000

1    10000

Name: count, dtype: int64

In [2]:
import pandas as pd

# Load the dataset (adjust the path if needed)
df = pd.read_csv("loan_data.csv")

# 1. Number and data types of attributes (features)
print("Number of attributes (columns):", len(df.columns))
print("\nData types of each attribute:")
print(df.dtypes)

# 2. Number of objects (instances/records)
print("\nNumber of instances (rows):", len(df))

# 3. Class attribute with its values and counts
print("\nClass attribute distribution (loan_status):")
print(df['loan_status'].value_counts())

# 4. Print a sample of the raw dataset
print("\nSample of the dataset:")
print(df.head())

Number of attributes (columns): 14

Data types of each attribute:
person_age                        float64
person_gender                      object
person_education                   object
person_income                     float64
person_emp_exp                      int64
person_home_ownership              object
loan_amnt                         float64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                        int64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object

Number of instances (rows): 45000

Class attribute distribution (loan_status):
loan_status
0    35000
1    10000
Name: count, dtype: int64

Sample of the dataset:
   person_age person_gender person_education  person_income  person_emp_exp  \
0        22.0        female           Master        71948.0               0
1        21.0        female      High School        12282.0               0
2        25.0        female      High School        12438.0               3
3        23.0        female         Bachelor        79753.0               0
4        24.0          male           Master        66135.0               1

  person_home_ownership  loan_amnt loan_intent  loan_int_rate  \
0                  RENT    35000.0    PERSONAL          16.02
1                   OWN     1000.0   EDUCATION          11.14
2              MORTGAGE     5500.0     MEDICAL          12.87
3                  RENT    35000.0     MEDICAL          15.23
4                  RENT    35000.0     MEDICAL          14.27

   loan_percent_income  cb_person_cred_hist_length  credit_score  \
0                 0.49                         3.0           561
1                 0.08                         2.0           504
2                 0.44                         3.0           635
3                 0.44                         2.0           675
4                 0.53                         4.0           586

  previous_loan_defaults_on_file  loan_status
0                             No            1
1                            Yes            0
2                             No            1
3                             No            1
4                             No            1